<!-- Footer - start -->
{% load static %}
<footer class="footer-wrap">
    {% include "main/footer-top.html" %}    
   <div class="container f-menu-list">
        <div class="row">
            <div class="f-menu">
                <h3>
                    НАШ АССОРТИМЕНТ
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="index.html">Главная</a></li>
                    <li><a href="catalog-list.html">Каталог</a></li>
                    <li><a href="elements.html">Категории</a></li>
                    
                </ul>
            </div>
            <div class="f-menu">
                <h3>
                    КАТАЛОГИ
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="catalog-list.html">Женщины</a></li>
                    <li><a href="catalog-list.html">Мужчины</a></li>
                    <li><a href="catalog-list.html">Шубы</a></li>
                    <li><a href="catalog-list.html">Дубленки</a></li>
                    <li><a href="catalog-list.html">Пуховики</a></li>
                </ul>
            </div>
            <div class="f-menu">
                <h3>ИНФОРМАЦИЯ
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="blog.html">Блог</a></li>
                    <li><a href="blog.html">Новости</a></li>
                    <li><a href="reviews.html">Отзывы</a></li>
                    <li><a href="blog.html">Статьи</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </div>
            <div class="f-menu">
                <h3>
                    ДОПОЛНИТЕЛЬНО
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="contacts.html">Магазин</a></li>
                    <li><a href="contacts.html">Доставка</a></li>
                    <li><a href="contacts.html">Оплата</a></li>
                    <li><a href="contacts.html">Гарантии</a></li>
                    <li><a href="contacts.html">контакты</a></li>
                    
                </ul>
            </div>
            <div class="f-subscribe">
                <h3>Подпишитесь на новости</h3>
                <form class="f-subscribe-form" action="#">
                    <input placeholder="Ваш e-mail" type="text">
                    <button type="submit"><i class="fa fa-paper-plane"></i></button>
                </form>
                <p>Введите ваш e-mail чтобы получать свежие новости и информацию о новых акциях. Подпишитесь сейчас!</p>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
		   {# {% include "main/social.html" %} #}
                <div class="footer-copyright">
                    <i><a href="#">Tigers</a></i> © Все права защищены. 2017
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- Footer - end -->
