 <!-- Main menu - start -->
<button type="button" class="mainmenu-btn">Menu</button>

<ul class="mainmenu">
    <li>
        <a href="index.html" class="active">
            Home
        </a>
    </li>
    <li class="menu-item-has-children">
        <a href="catalog-list.html">
            Catalog <i class="fa fa-angle-down"></i>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="catalog-list.html">
                    Catalog List - Style 1
                </a>
            </li>
            <li>
                <a href="catalog-list-2.html">
                    Catalog List - Style 2
                </a>
            </li>
            <li>
                <a href="catalog-gallery.html">
                    Catalog Gallery - Style 1
                </a>
            </li>
            <li>
                <a href="catalog-gallery-2.html">
                    Catalog Gallery - Style 2
                </a>
            </li>
            <li>
                <a href="catalog-table.html">
                    Catalog Table
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item-has-children">
        <a href="product.html">
            Product <i class="fa fa-angle-down"></i>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="product.html">
                    Product - Style 1 (Slider)
                </a>
            </li>
            <li>
                <a href="product-2.html">
                    Product - Style 2 (Scroll)
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="elements.html">
            Elements
        </a>
    </li>
    <li class="menu-item-has-children">
        <a href="blog.html">
            Blog <i class="fa fa-angle-down"></i>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="blog.html">
                    Blog - Style 1
                </a>
            </li>
            <li>
                <a href="blog-2.html">
                    Blog - Style 2
                </a>
            </li>
            <li>
                <a href="post.html">
                    Single Post
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item-has-children">
        <a href="#">
            Pages <i class="fa fa-angle-down"></i>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="contacts.html">
                    Contacts
                </a>
            </li>
            <li>
                <a href="cart.html">
                    Cart
                </a>
            </li>
            <li>
                <a href="auth.html">
                    Authorization
                </a>
            </li>
            <li>
                <a href="compare.html">
                    Compare
                </a>
            </li>
            <li>
                <a href="wishlist.html">
                    Wishlist
                </a>
            </li>
            <li>
                <a href="404.html">
                    Error 404
                </a>
            </li>
        </ul>
    </li>
    <li class="mainmenu-more">
        <span>...</span>
        <ul class="mainmenu-sub"></ul>
    </li>
</ul>
<!-- Main menu - end -->